In [30]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
# Carregar os dados a partir do arquivo CSV com vírgula como separador
df = pd.read_csv('dados\dados.csv', sep=',')

In [32]:
df.columns

Index(['��N'], dtype='object')

In [23]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [24]:
df.head()

,��n,unnamed:_1,unnamed:_2,unnamed:_3,unnamed:_4,unnamed:_5,unnamed:_6,unnamed:_7,unnamed:_8,unnamed:_9,unnamed:_10,unnamed:_11,unnamed:_12,unnamed:_13,unnamed:_14,unnamed:_15,unnamed:_16,unnamed:_17,unnamed:_18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df['unnamed:_1'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: unnamed:_1, dtype: float64

In [26]:
df.columns

Index(['��n', 'unnamed:_1', 'unnamed:_2', 'unnamed:_3', 'unnamed:_4',
       'unnamed:_5', 'unnamed:_6', 'unnamed:_7', 'unnamed:_8', 'unnamed:_9',
       'unnamed:_10', 'unnamed:_11', 'unnamed:_12', 'unnamed:_13',
       'unnamed:_14', 'unnamed:_15', 'unnamed:_16', 'unnamed:_17',
       'unnamed:_18'],
      dtype='object')