In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Carregar os dados a partir do arquivo CSV com vírgula como separador
df = pd.read_csv("dados/dados.csv", sep=',')

In [3]:
# Renomear as colunas substituindo espaços por vírgulas
df.rename(columns=lambda x: x.replace(" ", ","), inplace=True)

In [4]:
# Exibir as primeiras linhas do DataFrame para verificar se os dados foram carregados corretamente
df.head()

   ��N
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [7]:
df.columns

Index(['��N'], dtype='object')